.items{
  border: 1px solid black;
  padding: 20px 30px;
  width: 400px;
  margin-top: 2%;
  border-radius: 30px;
  box-shadow: 12px 20px 30px grey;
  text-align: center;
  background-color: white;
  margin-left: 80px;
  height: 100%;
  margin-top: 20px;

}
ul{
  display:flex;
  text-align: center;
  list-style-type: none;
}
li{
  margin-left: 15%;
}
.nav{
  text-align: center;
}
.submit{
  text-align: center;
}

.nav-head{
  margin-left: 10%;
  display: flex;
}
.navbar{
  text-decoration: none;
  color: navy;
  padding: 12px 30px;
  border-radius: 20px;
  background-color: aquamarine;
}
strong{
  color: lime;
}
em{
  color: midnightblue;
}
.submit{
  border: 1px solid black;
  border-radius: 20px;
  padding: 12px 30px;
  margin-left: 37%;
  width: 20%;
}
.submit-btn{
  padding: 12px 30px;
  text-transform: uppercase;
  background-color: lime;
  color: black;
  border: none;
}
.submit-btn:hover{
  border-radius: 20px;
}
input{
  width: 70%;
  text-align: center;
}
.product{
  width: 80%;
  resize: none;
  font-family: sans-serif;
  text-align: center;
}
.des{
  resize: none;
  width: 80%;
  font-family: sans-serif;
  text-align: center;
}
.hello{
  display: grid;
}
input[type="file"]::file-selector-button{
  background-color: aqua;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
}
input[type="file"]::file-selector-button:hover{
  background-color: rgb(36, 198, 36);
}
input[type="file"]{
  text-align: center;
}
.order{
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 12px 30px;
  text-transform: uppercase;
  border: none;
  background-color:lime;

}

.order:hover{
  border-radius: 20px;
}

.adress-txt{
  width: 70%;
  resize: none;
  text-align: center;
}

.id-txt{
  width: 70%;
  resize: none;
  text-align: center;
}

.phone-txt{
  width: 70%;
  resize: none;
  text-align: center;
}

.system{
  border: 1px solid black;
  padding: 20px 30px;
  width: 25%;
  margin-top: 2%;
  border-radius: 30px;
  box-shadow: 12px 20px 30px grey;
  text-align: center;
  background-color: white;
  margin-left: 37%;
}

.s-sub{
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 12px 30px;
  text-transform: uppercase;
  border: none;
  background-color:lime;

}

.s-sub:hover{
  border-radius: 20px;
}
.sys-get{
  border: 1px solid black;
  padding: 20px 30px;
  width: 25%;
  margin-top: 2%;
  border-radius: 30px;
  box-shadow: 12px 20px 30px grey;
  text-align: center;
  background-color: white;
}

.items-flex{
  display: flex;
  flex-flow:row wrap ;
}